
//   ion-row .month-nav{
//     --background: #ccc !important;
// }

// ion-row .year-nav{
//     --background: #ccc !important;
// }

.day-names{
    color: #ccc;
    font-weight: 600;
    font-family: monospace;
  }

.horow{    
    height: 0px;
    border-width: 1px;
    box-sizing: content-box;
    }


.disabled{
    color: #cccccc
    }

    .week-date-row {
        margin-bottom: 15px;
        margin-top: 15px;
          }
  
     .today {
    width: 100%;
    padding: 10px;
    background: blue;
    color: #fff;
    border-radius: 50%;
    filter: drop-shadow(2px 4px 6px black);
     }

  .selected{
    width: 100%;
    padding: 10px;
    background: #ccc;
    border-radius: 50%;
    filter: drop-shadow(2px 4px 6px black);
  }




