<ion-header>
  <ion-toolbar>
    <ion-title>Calender</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="calendar ion-justify-content-center">

    <ion-row class="ion-align-items-center month-nav ion-text-center ion-no-padding ion-no-margin">
      <ion-col size="2" class="ion-no-padding ion-no-margin">
        <ion-icon ios="ios-arrow-dropleft" md="md-arrow-dropleft" style="font-size: 32px;" class="ion-item-start"
          (click)="prevMonth()"> </ion-icon>
      </ion-col>
      <ion-col size="8" class="ion-no-padding ion-no-margin">
        <ion-label>{{ currentDate.format('MMMM') }} {{ currentDate.format('YYYY') }}</ion-label>
      </ion-col>
      <ion-col size="2" class="ion-no-padding ion-no-margin">
        <ion-icon ios="ios-arrow-dropright" md="md-arrow-dropright" style="font-size: 32px;" (click)="nextMonth()">
        </ion-icon>
      </ion-col>
    </ion-row>



    <ion-row class="ion-align-items-center  ion-no-padding ion-no-margin year-nav ion-text-center">
      <ion-col size="2" class="ion-no-padding ion-no-margin">
        <ion-icon ios="ios-arrow-dropleft" md="md-arrow-dropleft" style="font-size: 32px;" class="ion-item-start"
          (click)="prevYear()"> </ion-icon>
      </ion-col>
      <ion-col size="8" class="ion-no-padding ion-no-margin">
        <ion-label>{{ currentDate.format('YYYY') }}</ion-label>
      </ion-col>
      <ion-col size="2" class="ion-no-padding ion-no-margin">
        <ion-icon ios="ios-arrow-dropright" md="md-arrow-dropright" style="font-size: 32px;" (click)="nextYear()">
        </ion-icon>
      </ion-col>
    </ion-row>

    <hr class="horow">
    <ion-row class="ion-align-items-center day-names  ion-no-padding ion-no-margin">
      <ion-col *ngFor="let name of dayNames" class="ion-text-center">
        {{ name }}</ion-col>
    </ion-row>

    <hr class="horow">
    <ion-row class="ion-align-items-center ion-no-padding ion-no-margin week-date-row" *ngFor="let week of weeks">
      <ion-col *ngFor="let day of week" class="ion-text-center">
        <div class="disabled" *ngIf="!isSelectedMonth(day.mDate)">
          <span [ngClass]="{ today: day.today, selected: day.selected }">{{ day.mDate.date() }}</span>
        </div>
        <div class="enabled" *ngIf="isSelectedMonth(day.mDate)" (click)="selectDate(day)">
          <span [ngClass]="{ today: day.today, selected: day.selected }">{{ day.mDate.date() }}</span>
        </div>
      </ion-col>
    </ion-row>

  </ion-grid>

</ion-content>